@import 'node_modules/@fortawesome/fontawesome-free/css/all.min.css';
@import './src/styles/variables';

body {
    font-family: "Barlow Semi Condensed";
}

a {
    text-decoration: none;
    color: $color2;
}

.my-btn {
    padding: 17px 40px;
    font-size: 18px;
    background-color: $color4;
    line-height: 1.4;
    color: white;
}

.play-btn-big {
    color: $color4;
    font-size: 17px;
    background-color: white;
    border-radius: 50%;
}

// .play-btn-small {
//     color: $color4;
//     font-size: 17px;
// }