@import 'node_modules/@fortawesome/fontawesome-free/css/all.min.css';
@import './src/styles/variables';

body {
    font-family: "Barlow Semi Condensed";
}

a {
    text-decoration: none;
    color: $color2;
}

.my-btn {
    padding: 16px 39px;
    font-size: 18px;
    background-color: $color4;
    color: white;
}

.play-btn-big {
    color: $color4;
    font-size: 17px;
    background-color: white;
    border-radius: 50%;
}

.play-btn-small {
    color: $color4;
    font-size: 17px;
    background-color: white;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    padding: 18px 22px;
}


.buy-btn {
    background-color: black;
    border: 2px solid #333333;

    a {
        line-height: 21px;
    }

    &:hover {
        background-color: white;
        color: black;
    }
}